html {
  background-image: linear-gradient(135deg, #79F1A4 0%, #0E5CAD 100%);
  background-repeat: no-repeat;
  min-height: 100%;
}

#bitmap {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.card.settings {
}

#file {
  display: none;
}

#image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.file-button-container {
  margin-bottom: 3em;
}

.file-button-container img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.collapsible {
  width: 100%;
}

#toast-container {
  top: auto !important;
  right: 0 !important;
  bottom: 10%;
  left: 0;
  margin: 0 auto;
  pointer-events: none;

  .toast {
    float: none !important;
    display: flex;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

#file-drop {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#load-container {
  width: 250px;
  margin: 0 auto;
}

#opt-color-rgba {
  margin-top: 5px;
}

.cp-app {
  background-color: white !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

#imgur-container {
  text-align: center;
}

@media only screen and (min-width: 601px) {
  .card.output {
    position: fixed !important;
    right: 20px !important;
  }
}

@media only screen and (max-width: 600px) {
  #toast-container {
    bottom: 0;
  }
}